<mat-sidenav-container class="container">
  <mat-sidenav-content class="content-container">
    <nav>
      <mat-toolbar color="primary">My App</mat-toolbar>
    </nav>
    <div class="content-wrap">
      <router-outlet></router-outlet>
    </div>
    <footer>
      2019 | Created by <a mat-button href="https://github.com/RexMagi">Trae Hurley</a>, source code: <a mat-button
        href="https://github.com/RexMagi/WeMakeServicesInterviewQuestions">https://github.com/RexMagi/WeMakeServicesInterviewQuestions</a>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>